/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-height: 100vh;
  font-family: var(--font-Inter, sans-serif), sans-serif;
  background-image:     
    var(--gradient-from-left-to-right, repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px)),  
    var(--gradient-from-top-to-bottom, repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px)),
    var(--gradient, linear-gradient(#e7e7e7 0.01%, #1a1a1a));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight, 410);
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: var(--block-width, clamp(375px, 50vw, 700px));
  margin: 100px auto auto;
  margin-bottom: 98px;
  border: 2px solid rgba(0, 0, 0, 1);
  padding: clamp(122px, 30vw, 130px) 0;
  background-color: rgba(255, 255, 255, 1);
}

.block-heading {
  width: var(--block-heading-width, clamp(343px, 50vw, 455px));
  max-width: 100%;
  margin: 0;
}

.heading {
  width: 100%;
  margin-bottom: 19px;
  vertical-align: bottom;
  font-family: var(--font-PressStart2P, monospace);
  font-weight: var(--heading-font-weight, 400);
  font-size: 49px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

.co-heading {
  font-family: var(--font-PressStart2P, monospace);
  font-weight: var(--heading-font-weight, 400);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: var(--card-width, clamp(373px, 50vw, 700px));
  margin: 50px auto 0;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.card__image {
  width: 100%;
  min-height: 371px;
  border: rgba(0, 0, 0, 1) solid;
  border-width: 2px 0px 2px 0px;
}

.card__title {
  margin: 6px 8px 0;
  font-family: var(--font-Inter, sans-serif), sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: "wght" var(--bold-font-weight, 715);
}
 
.card__description {
  margin: 23px 23px 0;
  font-family: var(--font-Inter, sans-serif), sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  font-variation-settings: 'wght' var(--main-font-weight, 410);
}

button {
  margin: 0;
  border: none;
  padding: 0;
  background: transparent; 
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin: 25px 25px 25px 0;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 38px;
  height: 34px;
  border: none;
  padding: 0;
  background: transparent;
}

.card__like-button {
  position: relative;
  z-index: 1;
  width: 130px;
  height: 38px;
  border: rgba(0, 0, 0, 1) 2px solid;
  color: #000;
  background-color: #fff;
}

.card__like-button::before,
.modal__button::before, 
.save::before,
.save__icon::before {
  content: '';               
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #000;   
  background-color: #000;   
  transition: 0.5s ease-in-out;   
  transform: scaleX(0);     
  transform-origin: left;            
}

.card__icon-button:hover {
  --animation-fill-color: #000;
  --core-color: #000;
}

.card__like-button .button__text,
.modal__button .button__text,
.save .button__text{
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.button__text {
  font-family: var(--font-PressStart2P, monospace);
  font-weight: var(--heading-font-weight, 400);
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0;
}

.overlay {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 6px;
}

.sparks {
  opacity: 0;
}

.like-icon {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1 alternate;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: var(--core-color);
  transition: fill linear 0.3s;
  transition-delay: 0.03s;
}

.main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s;
}

.core:hover {
  fill: var(--core-color);
  transition-delay: 0s;
}

.main-body:hover {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.card__icon-button:active {
  --animation-fill-color: #FF0000;
  --core-color: #FF0000;
  --contour-color: #FF0000;
}

.core:active {
  fill: var(--core-color);
}

.main-body:active {
  fill: var(--animation-fill-color);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--font-PressStart2P, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 
    1px 0 0 var(--stroke-color, #fff),
    -1px 0 0 var(--stroke-color, #fff),
    0 1px 0 var(--stroke-color, #fff),
    0 -1px 0 var(--stroke-color, #fff),
    1px 1px 0 var(--stroke-color, #fff),
    -1px -1px 0 var(--stroke-color, #fff),
    1px -1px 0 var(--stroke-color, #fff),
    -1px 1px 0 var(--stroke-color, #fff);
  mix-blend-mode: hard-light;
}

.save {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  gap: 8px;
  align-self: center;
  margin: 50px auto 0;
  border: rgba(0, 0, 0, 1) 2px solid;
  padding: 17px 20px;
  color: #000;
  background-color: #fff;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  max-width: 353px;
  border: 2px solid #000;
  padding: 30px;
  background: #fff;
}

.modal[open] {
  display: block;
  width: clamp(341px, 50vw, 353px);
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 30px;
}

.modal__icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.modal__text {
  display: grid;
  grid-template-rows: auto auto auto;
  line-height: 150%;
  text-transform: uppercase;

}

.modal__title {
  margin: 0 0 12px 0;
  color: #000;
  font-family: var(--font-PressStart2P, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.modal__button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  height: 38px;
  margin-top: 12px;
  border: 2px solid #000;
  font-family: var(--font-PressStart2P, monospace);
  font-size: 14px;
  line-height: 90%;
  background: #fff;
  cursor: pointer;
}

.save__icon {
  fill: currentColor;
  filter: invert(0);
  transition: filter 0.5s ease-in-out;
}

.card__image_prep {
  filter: brightness(1.2) saturate(1.3) contrast(1.1);
}
      
.card__image_confused {
  filter: grayscale(0.7) blur(1px) sepia(0.3);
}
      
.card__image_doubt {
  filter: hue-rotate(180deg) brightness(0.9);
}
      
.card__image_perfection {
  filter: contrast(1.8) saturate(2);
}
      
.card__image_support {
  filter: sepia(0.6) brightness(1.15) drop-shadow(0 0 8px rgba(255, 200, 0, 0.5));
}
      
.card__image_strategy {
  filter: blur(0.8px) contrast(1.3) hue-rotate(-30deg);
}
      
.card__image_demotivated {
  filter: grayscale(0.9) brightness(0.7) contrast(0.8);
}
      
.card__image_current {
  filter: contrast(1.5) saturate(1.8) hue-rotate(15deg) brightness(1.1);
}

.card__like-button:hover::before,
.modal__button:hover::before,
.save:hover::before {
  transform: scaleX(1);  
}

.save:hover .save__icon {
  filter: invert(1);
}

.card__like-button:focus-visible,
.modal__button:focus-visible,
.save:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
  outline: none;
  transition: 0.3s ease;
}

.card__like-button:focus,
.modal__button:focus,
.save:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  width: 38px;
  height: 38px;
  border: #000 2px solid;
  padding: 7px 5.5px;
  outline: none;
  transition: 0.3s ease;
}

@media (min-width: 1440px) {
  .heading {
    font-size: 65px;
  }

  .co-heading {
    font-size: 23px;
  }

  .special__decoration {
    display: flex;
    flex-direction: row;
  }
  
  .card__title:nth-child(2) {
    margin-left: 0;
  }

  .save {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .save__icon {
    width: 21px;
    height: 21px;
    margin: 17px 0 17px 20px;
  }

  .save__text {
    margin: 22px 20px 22px 0;
  }
}
