:root {
  /* Шрифты */
  --font-primary: "Inter-Variable", sans-serif;
  --font-accent: "PressStart2P", monospace;
  
  /* Начертания шрифтов */
  --font-weight-normal: 410;
  --font-weight-bold: 715;
  --font-weight-title: 400;
  
  /* Размеры шрифтов */
  --font-size-title: clamp(49px, 13vw, 65px);
  --font-size-body: clamp(14px, 3.73vw, 23px);
  
  /* Градиенты и фоны */
  --gradient-grid-horizontal: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px);
  --gradient-grid-vertical: repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px);
  --gradient-main: linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  
  /* Размеры контейнеров */
  --container-width: clamp(375px, 50vw, 700px);
  --container-height: clamp(327px, 80vh, 368px);
  --title-container-width: clamp(343px, 50vw, 455px);
  --title-container-height: clamp(83px, 80vh, 108px);
  
  /* Размеры карточек */
  --card-width: clamp(371px, 50vw, 700px);
  --card-height: clamp(758px, 80vh, 956px);
  
  /* Цвета */
  --color-stroke: #fff;
  --color-fill: #000;
  --color-animation-fill: transparent;
  --color-contour: #f00;
  --color-core: transparent;
}